version: 2.1
orbs:
  node: circleci/node@3.0.0

jobs:
  build:
    executor:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
          name: node test
          command: |
            npm install
            cd bin
            node csvtologs.js


workflows:
  version: 2
  build:
    jobs:
      - build