version: 2.1
orbs:
  node: circleci/node@3.0.0

jobs:
  node:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
          name: Create logs file
          command: |
            npm install
            mkdir tmp
            cd bin
            node csvtologs.js
      - persist_to_workspace:
          root: tmp
          paths:
            - logs
  logstash:
    docker:
      - image: logstash:7.12.0
    steps:
      - run:
          name: Logstash
          command: |
            cd data


workflows:
  version: 2
  build:
    jobs:
      - node
      - logstash:
          requires:
            - node