version: 2.1
orbs:
  node: circleci/node@3.0.0

jobs:
  node:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
          name: Create logs file
          command: |
            npm install
            cd bin
            node csvtologs.js
            ls -al
            mkdir tmp
            cp ../data/training_note.logs tmp/
            pwd
            cat tmp/training_note.logs
      - persist_to_workspace:
          root: tmp
          paths:
            - .
  logstash:
    docker:
      - image: logstash:7.12.0
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: Logstash
          command: |
            ls -al
            pwd
            cd /home/circleci/project/tmp
            ls -al


workflows:
  version: 2
  build:
    jobs:
      - node
      - logstash:
          requires:
            - node