version: 2.1
orbs:
  node: circleci/node@3.0.0

jobs:
  node:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run:
          name: Create logs file
          command: |
            npm install
            cd bin
            node csvtologs.js
            ls -al
            mkdir /home/circleci/project/tmp
            cp ../data/training_note.logs /home/circleci/project/tmp/
      - persist_to_workspace:
          root: tmp
          paths:
            - training_note.logs
  logstash:
    docker:
      - image: logstash:7.12.0
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: Logstash
          command: |
            ls -al
            cat /home/circleci/project/tmp/training_note.logs


workflows:
  version: 2
  build:
    jobs:
      - node
      - logstash:
          requires:
            - node