version: "3.7"
services:
  elasticsearch:
    image: elasticsearch:7.12.0
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
#      elasticsearch cluster setting (single node)
      - discovery.type=single-node
      - bootstrap.memory_lock=true
#      elastic security setting
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD=test1234
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - ./elasticsearch/data:/usr/share/elasticsearch/data
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "5602:9200"
    networks:
      - elastic

  logstash:
    image: logstash:7.12.0
    container_name: logstash
    volumes:
      - ../source:/usr/share/logstash/dataSource
      - ../data:/usr/share/logstash/logData
      - ./logstash/pipeline:/usr/share/logstash/pipeline
      - ./logstash/data:/usr/share/logstash/data
#      - ./customConf:/usr/share/logstash/customConf
    ports:
      - "5603:9600"
    networks:
      - elastic
    depends_on:
      - elasticsearch

  kibana:
    image: kibana:7.12.0
    container_name: kibana
    environment:
#      - servername=localhost
#      - elasticsearch.hosts=http://elasticsearch:9200
#      - elasticsearch.username=kibana_system
#      - elasticsearch.password=test1234
      SERVERNAME: kibana
      ELASTICSEARCH_USERNAME: "elastic"
      ELASTICSEARCH_PASSWORD: "test1234"
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200
    volumes:
      - ./kibana/data:/usr/share/kibana/data
    ports:
      - "5601:5601"
    networks:
      - elastic
    depends_on:
      - elasticsearch

networks:
  elastic: